.d-flex.p-2.justify-content-center
  %h2.col-md-6= t '.account_locked'
.d-flex.p-2.justify-content-center
  = bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: 'col-md-6' }) do |f|
    = f.text_field :username, autofocus: true
    = render 'devise/shared/links'
    = f.submit t('.resend_unlock_instructions'), class: 'btn btn-block btn-primary'
