%h2= t '.title'
= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  .row
    .col-sm-6
      = f.text_field :username, autofocus: true
      = render 'devise/shared/links'
  .row
    .col-sm-6
      = f.primary t '.resend_unlock_instructions'
