%h2= t '.log_in'
= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .row
    .col-sm-6
      = f.text_field :username, autofocus: true
      = f.password_field :password, autocomplete: "off"
      = render "devise/shared/links"
  .row
    .col-sm-6
      = f.primary t '.submit_login'
