%nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
  %a.navbar-brand{href: root_path} FiFi
  %btn.navbar-toggler{type: 'button',
                      data: {toggle: 'collapse', target: '#navbarCollapse'},
                      aria: {controls: 'navbarCollapse', expanded: 'false',
                             label: 'Toggle navigation'}}
    %span.navbar-toggler-application
  -if user_signed_in?
    #navbarCollapse.collapse.navbar-collapse
      %ul.navbar-nav.mr-auto
        %li.nav-item
          %a.nav-link{href: '#'}= t '.bikes'
      %ul.navbar-nav.pull-right
        %li.nav-item.dropdown
          = link_to icon('fas', 'user'),
                    '#',
                    class: 'nav-link dropdown-toggle',
                    id: 'navbarPersonal', role: 'button',
                    data: {toggle: 'dropdown'}
          %div.dropdown-menu.dropdown-menu-right{aria: {labelledby: 'navbarPersonal'}}
            %a.dropdown-item{href: '#'}= t '.change_password'
            %a.dropdown-item{href: '#'}= t '.edit_profile'
            %a.dropdown-item{href: '#'}= t '.as_customer'
            = cell(:toggle_role, current_user)
        %li.nav-item
          = link_to icon('fas', 'sign-out-alt'),
                    destroy_user_session_path,
                    method: :delete,
                    class: 'nav-link text-warning'
